@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  max-width: 100vw;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  /* font-family: var(--font-space_grotesk); */
  /* font-family: "Space Grotesk"; */
  /* background-color: #111;
  color: #bbb; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dark {
  background-color: #ffffff;
  /* color: #ece9e9; */
  color: rgb(75 85 99 0.6);
}

.light {
  /* background-color: #e42424; */
  background-color: #262525;
  color: #ffffff;
}

.theme {
  transition: 1s all ease;
}

/* styles.css (or your custom stylesheet) */
.scrollbar-w-2::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-w-2::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Set the color of the scrollbar thumb */
  border-radius: 1px;
}

.scrollbar-w-2::-webkit-scrollbar-track {
  background-color: #edf2f7; /* Set the color of the scrollbar track */
}

@media (max-width: 500px) {
  .mobile {
    width: 90%;
  }
  .reduceText {
    font-size: 32px;
  }
}

@media (max-width: 950px) {
  .disappear {
    display: none;
  }
  .elements {
    display: block;
  }
}
