@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  max-width: 100vw;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: #111;
  color: #bbb; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dark {
  background-color: #0a0f2b;
  /* color: #ece9e9; */
  color: #ffffff;
}

.light {
  background-color: #e42424;
  color: #ffffff;
}

.theme {
  transition: 1s all ease;
}

/* styles.css (or your custom stylesheet) */
.scrollbar-w-2::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-w-2::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Set the color of the scrollbar thumb */
  border-radius: 1px;
}

.scrollbar-w-2::-webkit-scrollbar-track {
  background-color: #edf2f7; /* Set the color of the scrollbar track */
}
